In [1]:
import pandas as pd
import numpy as np
#https://colab.research.google.com/drive/1ohcvYZJ8mhhkhW2mRlBt2uGzZO4x9KWg?authuser=1#scrollTo=mSYdQxVlDgoZ for tokenize and ml

In [2]:
num_lines_to_read = 300000

yelp_reviews = pd.read_json("/personalproject1/yelp_academic_dataset_review.json", lines=True, nrows=num_lines_to_read)

amazon_df = pd.read_json("/personalproject1/Cell_Phones_and_Accessories_5.json", lines=True, nrows = num_lines_to_read)


yelp_reviews.head(10)

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,KU_O5udG6zpxOg-VcAEodg,mh_-eMZ6K5RLWhZyISBhwA,XQfwVwDr-v0ZS3_CbbE5Xw,3,0,0,0,"If you decide to eat here, just be aware it is...",2018-07-07 22:09:11
1,BiTunyQ73aT9WBnpR9DZGw,OyoGAe7OKpv6SyGZT5g77Q,7ATYjTIgM3jUlt4UM3IypQ,5,1,0,1,I've taken a lot of spin classes over the year...,2012-01-03 15:28:18
2,saUsX_uimxRlCVr67Z4Jig,8g_iMtfSiwikVnbP2etR0A,YjUWPpI6HXG530lwP-fb2A,3,0,0,0,Family diner. Had the buffet. Eclectic assortm...,2014-02-05 20:30:30
3,AqPFMleE6RsU23_auESxiA,_7bHUi9Uuf5__HHc_Q8guQ,kxX2SOes4o-D3ZQBkiMRfA,5,1,0,1,"Wow! Yummy, different, delicious. Our favo...",2015-01-04 00:01:03
4,Sx8TMOWLNuJBWer-0pcmoA,bcjbaE6dDog4jkNY91ncLQ,e4Vwtrqf-wpJfwesgvdgxQ,4,1,0,1,Cute interior and owner (?) gave us tour of up...,2017-01-14 20:54:15
5,JrIxlS1TzJ-iCu79ul40cQ,eUta8W_HdHMXPzLBBZhL1A,04UD14gamNjLY0IDYVhHJg,1,1,2,1,I am a long term frequent customer of this est...,2015-09-23 23:10:31
6,6AxgBCNX_PNTOxmbRSwcKQ,r3zeYsv1XFBRA4dJpL78cw,gmjsEdUsKpj9Xxu6pdjH0g,5,0,2,0,Loved this tour! I grabbed a groupon and the p...,2015-01-03 23:21:18
7,_ZeMknuYdlQcUqng_Im3yg,yfFzsLmaWF2d4Sr0UNbBgg,LHSTtnW3YHCeUkRDGyJOyw,5,2,0,0,Amazingly amazing wings and homemade bleu chee...,2015-08-07 02:29:16
8,ZKvDG2sBvHVdF5oBNUOpAQ,wSTuiTk-sKNdcFyprzZAjg,B5XSoSG3SfvQGtKEGQ1tSQ,3,1,1,0,This easter instead of going to Lopez Lake we ...,2016-03-30 22:46:33
9,pUycOfUwM8vqX7KjRRhUEA,59MxRhNVhU9MYndMkz0wtw,gebiRewfieSdtt17PTW6Zg,3,0,0,0,Had a party of 6 here for hibachi. Our waitres...,2016-07-25 07:31:06

In [3]:
amazon_df.head(10)

,overall,verified,reviewTime,reviewerID,asin,style,reviewerName,reviewText,summary,unixReviewTime,vote,image
0,5,True,"08 4, 2014",A24E3SXTC62LJI,7508492919,{'Color:': ' Bling'},Claudia Valdivia,Looks even better in person. Be careful to not...,Can't stop won't stop looking at it,1407110400,NaN,NaN
1,5,True,"02 12, 2014",A269FLZCB4GIPV,7508492919,NaN,sarah ponce,When you don't want to spend a whole lot of ca...,1,1392163200,NaN,NaN
2,3,True,"02 8, 2014",AB6CHQWHZW4TV,7508492919,NaN,Kai,"so the case came on time, i love the design. I...",Its okay,1391817600,NaN,NaN
3,2,True,"02 4, 2014",A1M117A53LEI8,7508492919,NaN,Sharon Williams,DON'T CARE FOR IT. GAVE IT AS A GIFT AND THEY...,CASE,1391472000,NaN,NaN
4,4,True,"02 3, 2014",A272DUT8M88ZS8,7508492919,NaN,Bella Rodriguez,"I liked it because it was cute, but the studs ...",Cute!,1391385600,NaN,NaN
5,2,True,"01 27, 2014",A1DW2L6XCC5TJS,7508492919,NaN,Amazon Customer,The product looked exactly like the picture an...,Not so happy,1390780800,NaN,NaN
6,3,True,"01 23, 2014",AQC61R4UST7UH,7508492919,NaN,DaMara Estep,I FINALLY got my case today. It took forever t...,It's cute!,1390435200,NaN,NaN
7,5,True,"01 17, 2014",A31OVFL91BCKXG,7508492919,NaN,Ashley Nicole Miller,It is a very cute case. None of the jewels hav...,Cute case,1389916800,NaN,NaN
8,1,True,"12 27, 2013",A1K0VLK6O5Z22M,7508492919,NaN,BeeLove21,DO NOT BUY! this item is seriously cheap as he...,WORST ITEM!,1388102400,NaN,NaN
9,4,True,"12 16, 2013",A1K3BWU73YB44P,7508492919,NaN,Mrs. Ochoa,I really love this case... you have to keep yo...,Pretty Cute!,1387152000,NaN,NaN

In [4]:
verified_df = amazon_df[amazon_df['verified'] == True]
unverified_df = amazon_df[amazon_df['verified'] == False]

print(len(verified_df))
print(len(unverified_df))

270385
29615

In [5]:
def review_to_string(content):
    return str(content)

amazon_reviews_cleaned = amazon_df[['overall', 'reviewText']]
amazon_reviews_final = amazon_reviews_cleaned.copy(deep = True)
amazon_reviews_final['reviewTextCleaned'] = amazon_reviews_final['reviewText'].apply(lambda x: review_to_string(x))
amazon_reviews_final = amazon_reviews_final[['overall', 'reviewTextCleaned']]

amazon_reviews_final.head(10)

   overall                                  reviewTextCleaned
0        5  Looks even better in person. Be careful to not...
1        5  When you don't want to spend a whole lot of ca...
2        3  so the case came on time, i love the design. I...
3        2  DON'T CARE FOR IT.  GAVE IT AS A GIFT AND THEY...
4        4  I liked it because it was cute, but the studs ...
5        2  The product looked exactly like the picture an...
6        3  I FINALLY got my case today. It took forever t...
7        5  It is a very cute case. None of the jewels hav...
8        1  DO NOT BUY! this item is seriously cheap as he...
9        4  I really love this case... you have to keep yo...

In [6]:
value_counts = amazon_reviews_final['overall'].value_counts()

print(value_counts)

overall
5    178043
4     53212
3     29807
1     22546
2     16392
Name: count, dtype: int64

In [7]:
high_class = amazon_reviews_final[amazon_reviews_final['overall'].isin([4,5])]
neutral_class = amazon_reviews_final[amazon_reviews_final['overall'] == 3]
low_class = amazon_reviews_final[amazon_reviews_final['overall'].isin([1,2])]

undersampled_high = high_class.sample(n=100000, random_state = 42)
oversampled_low = low_class.sample(n=100000, replace = True, random_state = 42)
oversampled_neutral = neutral_class.sample(n=100000, replace = True, random_state = 42)

amazon_reviews_final = pd.concat([undersampled_high, oversampled_low, oversampled_neutral], axis=0)

value_counts = amazon_reviews_final['overall'].value_counts()

print(value_counts)

overall
3    100000
5     77079
1     58155
2     41845
4     22921
Name: count, dtype: int64

In [8]:
yelp_reviews_cleaned = yelp_reviews[['stars', 'text']]
yelp_reviews_final = yelp_reviews_cleaned.copy(deep = True)
yelp_reviews_final['reviewTextCleaned'] = yelp_reviews_final['text'].apply(lambda x: review_to_string(x))
yelp_reviews_final = yelp_reviews_final[['stars', 'reviewTextCleaned']]

yelp_reviews_final.head(10)

value_counts = yelp_reviews_final['stars'].value_counts()

print(value_counts)

stars
5    133282
4     75164
3     33989
1     33403
2     24162
Name: count, dtype: int64

In [9]:
high_class = yelp_reviews_final[yelp_reviews_final['stars'].isin([4,5])]
neutral_class = yelp_reviews_final[yelp_reviews_final['stars'] == 3]
low_class = yelp_reviews_final[yelp_reviews_final['stars'].isin([1,2])]

undersampled_high = high_class.sample(n=100000, random_state = 42)
oversampled_low = low_class.sample(n=100000, replace = True, random_state = 42)
oversampled_neutral = neutral_class.sample(n=100000, replace = True, random_state = 42)

yelp_reviews_final = pd.concat([undersampled_high, oversampled_low, oversampled_neutral], axis=0)

value_counts = yelp_reviews_final['stars'].value_counts()

print(value_counts)

stars
3    100000
5     63777
1     57852
2     42148
4     36223
Name: count, dtype: int64

In [10]:
import nltk
from nltk.corpus import stopwords

nltk.download('stopwords')
nltk.download('punkt')
nltk.download('vader_lexicon')
stopwords = set(stopwords.words('english'))

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package vader_lexicon to /root/nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

In [11]:
def tokenize_content(content):
  tokenized_text = nltk.word_tokenize(content)
  words=[word.lower() for word in tokenized_text if word.isalpha()]
  words = [word for word in words if word not in stopwords]
  return words


amazon_reviews_tokenized = amazon_reviews_final.copy(deep=True)
amazon_reviews_tokenized['tokenized'] = amazon_reviews_tokenized['reviewTextCleaned'].apply(lambda x: tokenize_content(x))
amazon_reviews_tokenized.head(10)

,overall,reviewTextCleaned,tokenized
141321,5,Good for the price,"[good, price]"
59316,4,It works for its purpose in holding the cards ...,"[works, purpose, holding, cards, beware, drop,..."
158003,4,"Hello dear,\nI received my order, it is very g...","[hello, dear, received, order, good, like, wan..."
56282,5,"Exactly as advertised. Got 2 screen savers, ea...","[exactly, advertised, got, screen, savers, eas..."
133591,5,great projuct fits perfectly and works well,"[great, projuct, fits, perfectly, works, well]"
95297,5,This case material is the very best. Just wish...,"[case, material, best, wish, would, make, cred..."
118974,5,Picked this up for my sister. The case fits h...,"[picked, sister, case, fits, phone, perfectly,..."
7123,5,Pretty simple case and that was all I wanted. ...,"[pretty, simple, case, wanted, magnet, type, s..."
87133,5,With this charger and my backup battery I'm ne...,"[charger, backup, battery, never, without, pow..."
194191,5,i loved it just once again didn't protect the ...,"[loved, protect, front, phone, well, fit, phon..."

In [12]:
yelp_reviews_tokenized = yelp_reviews_final.copy(deep=True)
yelp_reviews_tokenized['tokenized'] = yelp_reviews_tokenized['reviewTextCleaned'].apply(lambda x: tokenize_content(x))
yelp_reviews_tokenized.head(10)

,stars,reviewTextCleaned,tokenized
218044,5,"Fixed a belt no charge, Fixed 2 pairs of shoe...","[fixed, belt, charge, fixed, pairs, shoes, cou..."
196648,5,We went here for dinner on a quiet night (Sund...,"[went, dinner, quiet, night, sunday, service, ..."
282669,4,Mmmmm so delicious!! We love this place! All...,"[mmmmm, delicious, love, place, flavors, delic..."
58499,4,Lovely dining experience with delicious buffet...,"[lovely, dining, experience, delicious, buffet..."
278453,5,"I really like Rubyz! I've only gone twice, and...","[really, like, rubyz, gone, twice, times, posi..."
180995,5,The quintessential St. Louis experience. \nDo...,"[quintessential, louis, experience, afraid, li..."
229038,5,I'm not a tea guy or big into pastries. But I ...,"[tea, guy, big, pastries, admit, fell, love, s..."
90536,4,Had the tabasco honey fried chicken with beans...,"[tabasco, honey, fried, chicken, beans, rice, ..."
169227,5,The food was awesome and the service was great...,"[food, awesome, service, great, best, italian,..."
118951,5,Good selection of beer on tap! Good prime rib ...,"[good, selection, beer, tap, good, prime, rib,..."

In [13]:
from nltk.sentiment import SentimentIntensityAnalyzer
sia = SentimentIntensityAnalyzer()

In [14]:
def retrieve_sentiment(content):
  return sia.polarity_scores(content)['compound']

In [15]:
amazon_reviews_tokenized['sentiment'] = amazon_reviews_tokenized['reviewTextCleaned'].apply(lambda x: retrieve_sentiment(x))
amazon_reviews_tokenized = amazon_reviews_tokenized.sort_values(by=['sentiment'], ascending=False)
amazon_reviews_tokenized.head(10)

,overall,reviewTextCleaned,tokenized,sentiment
188430,5,"UPDATE: Last week, T-Mobile sent a patch to An...","[update, last, week, sent, patch, android, jel...",0.9999
297400,5,I own the LG G2 and it is a replacement for my...,"[lg, replacement, nearly, year, old, verizon, ...",0.9999
90019,5,"I recently began working for AT&T, so let me g...","[recently, began, working, let, get, right, aw...",0.9999
172930,5,_________________________________________\n\nA...,"[review, first, lumia, iphone, master, maps, m...",0.9999
124551,5,I'd been stuck with a Droid X on another big c...,"[stuck, droid, x, another, big, carrier, nearl...",0.9999
117725,4,"First off, let me come clean, I currently work...","[first, let, come, clean, currently, work, aut...",0.9999
107192,3,For years I've heard how great the iPhone is a...,"[years, heard, great, iphone, every, iteration...",0.9998
192513,4,---Intro---\n\nThe worst thing about getting t...,"[worst, thing, getting, amazing, phone, lack, ...",0.9998
107192,3,For years I've heard how great the iPhone is a...,"[years, heard, great, iphone, every, iteration...",0.9998
171787,4,---Intro---\n\nThe worst thing about getting t...,"[worst, thing, getting, amazing, phone, lack, ...",0.9998

In [16]:
yelp_reviews_tokenized['sentiment'] = yelp_reviews_tokenized['reviewTextCleaned'].apply(lambda x: retrieve_sentiment(x))
yelp_reviews_tokenized = yelp_reviews_tokenized.sort_values(by=['sentiment'], ascending=False)
yelp_reviews_tokenized.head(10)

,stars,reviewTextCleaned,tokenized,sentiment
126641,5,First thing first is you are entering paradise...,"[first, thing, first, entering, paradise, plac...",0.9998
150202,5,It's been a while since I dined at Chef Yoshi ...,"[since, dined, chef, yoshi, chubachi, wildflow...",0.9997
114162,3,"Headline: GOOD, NOT GREAT - DECENT VALUE\n\nOV...","[headline, good, great, decent, value, overall...",0.9997
114162,3,"Headline: GOOD, NOT GREAT - DECENT VALUE\n\nOV...","[headline, good, great, decent, value, overall...",0.9997
114162,3,"Headline: GOOD, NOT GREAT - DECENT VALUE\n\nOV...","[headline, good, great, decent, value, overall...",0.9997
114162,3,"Headline: GOOD, NOT GREAT - DECENT VALUE\n\nOV...","[headline, good, great, decent, value, overall...",0.9997
114162,3,"Headline: GOOD, NOT GREAT - DECENT VALUE\n\nOV...","[headline, good, great, decent, value, overall...",0.9997
114162,3,"Headline: GOOD, NOT GREAT - DECENT VALUE\n\nOV...","[headline, good, great, decent, value, overall...",0.9997
61518,5,This is my love letter to Stacey.\n\n\nI've be...,"[love, letter, stacey, famous, tattoo, parlors...",0.9997
63521,5,"Yes, yes and another hell yes! I love this pla...","[yes, yes, another, hell, yes, love, place, se...",0.9996

In [17]:
yelp_reviews_tokenized = yelp_reviews_tokenized.sort_values(by=['sentiment'], ascending=True)

yelp_reviews_tokenized.head(10)

,stars,reviewTextCleaned,tokenized,sentiment
115777,1,"I've been to the C & B in Charleston, but last...","[c, b, charleston, last, night, first, time, n...",-0.9989
115777,1,"I've been to the C & B in Charleston, but last...","[c, b, charleston, last, night, first, time, n...",-0.9989
89360,1,WATCH YOUR BILL!! The laminated menus have pri...,"[watch, bill, laminated, menus, prices, match,...",-0.9988
135791,1,Me thinks NOT/NEVER AGAIN is the perfect way t...,"[thinks, perfect, way, describe, experience, l...",-0.9988
237418,1,SHARING MY STORY ABOUT THE UNIT HUM BY VERIZON...,"[sharing, story, unit, hum, verizon, ripped, c...",-0.9987
237418,1,SHARING MY STORY ABOUT THE UNIT HUM BY VERIZON...,"[sharing, story, unit, hum, verizon, ripped, c...",-0.9987
237418,1,SHARING MY STORY ABOUT THE UNIT HUM BY VERIZON...,"[sharing, story, unit, hum, verizon, ripped, c...",-0.9987
113244,2,I'll preface this review by saying that I've h...,"[preface, review, saying, great, experiences, ...",-0.9981
113244,2,I'll preface this review by saying that I've h...,"[preface, review, saying, great, experiences, ...",-0.9981
31932,1,DO NOT USE EMPIRE TODAY for your carpets/floor...,"[use, empire, today, asked, daughter, write, p...",-0.9979

In [18]:
yelp_reviews_tokenized = yelp_reviews_tokenized.sort_values(by=['stars'], ascending=True)

yelp_reviews_tokenized.head(10)

,stars,reviewTextCleaned,tokenized,sentiment
115777,1,"I've been to the C & B in Charleston, but last...","[c, b, charleston, last, night, first, time, n...",-0.9989
80065,1,"High prices, slow service, & wrong orders.\nNe...","[high, prices, slow, service, wrong, orders, n...",-0.4767
42828,1,Awful. My advice is do not order from here. As...,"[awful, advice, order, asked, well, done, pizz...",-0.4767
257662,1,"Stay away from Erin, I had a terrible experien...","[stay, away, erin, terrible, experience, know,...",-0.4767
60585,1,Previous reviewer's description as a redneck j...,"[previous, reviewer, description, redneck, joi...",-0.4767
279146,1,Absolutely awful customer service. Had a 2:30 ...,"[absolutely, awful, customer, service, reserva...",0.1874
279146,1,Absolutely awful customer service. Had a 2:30 ...,"[absolutely, awful, customer, service, reserva...",0.1874
131505,1,"The manager is very manipulative, We went to a...","[manager, manipulative, went, event, spoke, ba...",-0.4767
52918,1,This store should be called knitter's nightmar...,"[store, called, knitter, nightmare, went, purc...",0.5735
232550,1,Overpriced Sysco food is about the only way to...,"[overpriced, sysco, food, way, describe, serve...",-0.4767

In [19]:
#get high and low for sentiment
#create column for high/neutral/low ratings based on overall/stars
#create column for high/neutral/low sentiment
#create column for == ^^
#num == / num != + num == is accuracy
def high_or_low_stars(stars):
    if stars > 3:
        return "High"
    elif stars > 2:
        return "Neutral"
    else:
        return "Low"

def high_or_low_sentiment(sentiment):
    if sentiment > .2:
        return "High"
    elif sentiment > -.2:
        return "Neutral"
    else:
        return "Low"

In [20]:
yelp_reviews_tokenized['high_low_sentiment'] = yelp_reviews_tokenized['sentiment'].apply(lambda x: high_or_low_sentiment(x))
yelp_reviews_tokenized['high_low_stars'] = yelp_reviews_tokenized['stars'].apply(lambda x: high_or_low_stars(x))



yelp_reviews_tokenized.head(10)

,stars,reviewTextCleaned,tokenized,sentiment,high_low_sentiment,high_low_stars
115777,1,"I've been to the C & B in Charleston, but last...","[c, b, charleston, last, night, first, time, n...",-0.9989,Low,Low
80065,1,"High prices, slow service, & wrong orders.\nNe...","[high, prices, slow, service, wrong, orders, n...",-0.4767,Low,Low
42828,1,Awful. My advice is do not order from here. As...,"[awful, advice, order, asked, well, done, pizz...",-0.4767,Low,Low
257662,1,"Stay away from Erin, I had a terrible experien...","[stay, away, erin, terrible, experience, know,...",-0.4767,Low,Low
60585,1,Previous reviewer's description as a redneck j...,"[previous, reviewer, description, redneck, joi...",-0.4767,Low,Low
279146,1,Absolutely awful customer service. Had a 2:30 ...,"[absolutely, awful, customer, service, reserva...",0.1874,Neutral,Low
279146,1,Absolutely awful customer service. Had a 2:30 ...,"[absolutely, awful, customer, service, reserva...",0.1874,Neutral,Low
131505,1,"The manager is very manipulative, We went to a...","[manager, manipulative, went, event, spoke, ba...",-0.4767,Low,Low
52918,1,This store should be called knitter's nightmar...,"[store, called, knitter, nightmare, went, purc...",0.5735,High,Low
232550,1,Overpriced Sysco food is about the only way to...,"[overpriced, sysco, food, way, describe, serve...",-0.4767,Low,Low

In [21]:
amazon_reviews_tokenized['high_low_sentiment'] = amazon_reviews_tokenized['sentiment'].apply(lambda x: high_or_low_sentiment(x))
amazon_reviews_tokenized['high_low_stars'] = amazon_reviews_tokenized['overall'].apply(lambda x: high_or_low_stars(x))

amazon_reviews_tokenized.head(10)

,overall,reviewTextCleaned,tokenized,sentiment,high_low_sentiment,high_low_stars
188430,5,"UPDATE: Last week, T-Mobile sent a patch to An...","[update, last, week, sent, patch, android, jel...",0.9999,High,High
297400,5,I own the LG G2 and it is a replacement for my...,"[lg, replacement, nearly, year, old, verizon, ...",0.9999,High,High
90019,5,"I recently began working for AT&T, so let me g...","[recently, began, working, let, get, right, aw...",0.9999,High,High
172930,5,_________________________________________\n\nA...,"[review, first, lumia, iphone, master, maps, m...",0.9999,High,High
124551,5,I'd been stuck with a Droid X on another big c...,"[stuck, droid, x, another, big, carrier, nearl...",0.9999,High,High
117725,4,"First off, let me come clean, I currently work...","[first, let, come, clean, currently, work, aut...",0.9999,High,High
107192,3,For years I've heard how great the iPhone is a...,"[years, heard, great, iphone, every, iteration...",0.9998,High,Neutral
192513,4,---Intro---\n\nThe worst thing about getting t...,"[worst, thing, getting, amazing, phone, lack, ...",0.9998,High,High
107192,3,For years I've heard how great the iPhone is a...,"[years, heard, great, iphone, every, iteration...",0.9998,High,Neutral
171787,4,---Intro---\n\nThe worst thing about getting t...,"[worst, thing, getting, amazing, phone, lack, ...",0.9998,High,High

In [22]:
amazon_reviews_tokenized['is_accurate'] = amazon_reviews_tokenized['high_low_sentiment'] == amazon_reviews_tokenized['high_low_stars']

In [23]:
yelp_reviews_tokenized['is_accurate'] = yelp_reviews_tokenized['high_low_sentiment'] == yelp_reviews_tokenized['high_low_stars']

In [24]:
amazon_reviews_tokenized.head(10)
yelp_reviews_tokenized.head(10)

,stars,reviewTextCleaned,tokenized,sentiment,high_low_sentiment,high_low_stars,is_accurate
115777,1,"I've been to the C & B in Charleston, but last...","[c, b, charleston, last, night, first, time, n...",-0.9989,Low,Low,True
80065,1,"High prices, slow service, & wrong orders.\nNe...","[high, prices, slow, service, wrong, orders, n...",-0.4767,Low,Low,True
42828,1,Awful. My advice is do not order from here. As...,"[awful, advice, order, asked, well, done, pizz...",-0.4767,Low,Low,True
257662,1,"Stay away from Erin, I had a terrible experien...","[stay, away, erin, terrible, experience, know,...",-0.4767,Low,Low,True
60585,1,Previous reviewer's description as a redneck j...,"[previous, reviewer, description, redneck, joi...",-0.4767,Low,Low,True
279146,1,Absolutely awful customer service. Had a 2:30 ...,"[absolutely, awful, customer, service, reserva...",0.1874,Neutral,Low,False
279146,1,Absolutely awful customer service. Had a 2:30 ...,"[absolutely, awful, customer, service, reserva...",0.1874,Neutral,Low,False
131505,1,"The manager is very manipulative, We went to a...","[manager, manipulative, went, event, spoke, ba...",-0.4767,Low,Low,True
52918,1,This store should be called knitter's nightmar...,"[store, called, knitter, nightmare, went, purc...",0.5735,High,Low,False
232550,1,Overpriced Sysco food is about the only way to...,"[overpriced, sysco, food, way, describe, serve...",-0.4767,Low,Low,True

In [25]:
amazon_accuracy = amazon_reviews_tokenized['is_accurate'].mean() * 100
yelp_accuracy = yelp_reviews_tokenized['is_accurate'].mean() * 100

amazon_accuracy, yelp_accuracy

(49.442, 48.947)

In [26]:
import tensorflow as tf
print("Num GPUs Available: ", len(tf.config.list_physical_devices('GPU')))

2024-01-17 22:01:42.895680: E tensorflow/compiler/xla/stream_executor/cuda/cuda_dnn.cc:9342] Unable to register cuDNN factory: Attempting to register factory for plugin cuDNN when one has already been registered
2024-01-17 22:01:42.895729: E tensorflow/compiler/xla/stream_executor/cuda/cuda_fft.cc:609] Unable to register cuFFT factory: Attempting to register factory for plugin cuFFT when one has already been registered
2024-01-17 22:01:42.897137: E tensorflow/compiler/xla/stream_executor/cuda/cuda_blas.cc:1518] Unable to register cuBLAS factory: Attempting to register factory for plugin cuBLAS when one has already been registered
2024-01-17 22:01:43.039374: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.

Num GPUs Available:  1

2024-01-17 22:01:46.045215: I tensorflow/compiler/xla/stream_executor/cuda/cuda_gpu_executor.cc:880] could not open file to read NUMA node: /sys/bus/pci/devices/0000:01:00.0/numa_node
Your kernel may have been built without NUMA support.
2024-01-17 22:01:46.068120: I tensorflow/compiler/xla/stream_executor/cuda/cuda_gpu_executor.cc:880] could not open file to read NUMA node: /sys/bus/pci/devices/0000:01:00.0/numa_node
Your kernel may have been built without NUMA support.
2024-01-17 22:01:46.068163: I tensorflow/compiler/xla/stream_executor/cuda/cuda_gpu_executor.cc:880] could not open file to read NUMA node: /sys/bus/pci/devices/0000:01:00.0/numa_node
Your kernel may have been built without NUMA support.

In [27]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from keras.preprocessing.text import Tokenizer
from keras.preprocessing.sequence import pad_sequences
from keras.models import Sequential
from keras.layers import Embedding, LSTM, Dense, Dropout, GRU
from keras.utils import to_categorical
from sklearn.metrics import accuracy_score
from keras.layers import Bidirectional, LSTM, Dense
from keras.regularizers import l2


all_tokens = [token for tokens in yelp_reviews_tokenized['tokenized'] for token in tokens]

vocab_size = len(set(all_tokens))

vocab_size += 1

X = yelp_reviews_tokenized['tokenized']
y = yelp_reviews_tokenized['high_low_stars']

X_train, X_temp, y_train, y_temp = train_test_split(X, y, test_size=0.3, random_state=42)
X_val, X_test, y_val, y_test = train_test_split(X_temp, y_temp, test_size=0.5, random_state=42)

In [28]:
# Assuming X_train is a list of strings containing tokenized text
# Create and fit a tokenizer on your tokenized text
tokenizer = Tokenizer()
tokenizer.fit_on_texts(X_train)

# Convert text to integer sequences
X_train_sequences = tokenizer.texts_to_sequences(X_train)
X_val_sequences = tokenizer.texts_to_sequences(X_val)
X_test_sequences = tokenizer.texts_to_sequences(X_test)

from collections import Counter

# Step 1: Count word frequencies in your dataset
word_counts = Counter(word for sentence in X_train_sequences for word in sentence)

# Step 2: Determine a minimum word frequency threshold
min_word_frequency = 5  # Adjust this threshold as needed

# Step 3: Create a vocabulary list of words that meet the threshold
vocabulary_list = [word for word, count in word_counts.items() if count >= min_word_frequency]

vocabulary_list.append("<unknown>")

pruned_vocab_size = len(vocabulary_list)

# Step 4: Create a mapping from words to integer indices
word_to_index = {word: index for index, word in enumerate(vocabulary_list)}

# Step 5: Replace words with indices in your data
X_train_pruned = [[word_to_index.get(word, word_to_index["<unknown>"]) for word in sentence] for sentence in X_train_sequences]


# Find the maximum sequence length
max_seq_length = max(len(seq) for seq in X_train_sequences)

# Pad the sequences to a uniform length
X_train_padded = pad_sequences(X_train_sequences, maxlen=max_seq_length, padding='post')
X_val_padded = pad_sequences(X_val_sequences, maxlen=max_seq_length, padding='post')
X_test_padded = pad_sequences(X_test_sequences, maxlen=max_seq_length, padding='post')

In [29]:
label_encoder = LabelEncoder()
y_train_encoded = to_categorical(label_encoder.fit_transform(y_train))
y_val_encoded = to_categorical(label_encoder.transform(y_val))
y_test_encoded = to_categorical(label_encoder.transform(y_test))

In [30]:
from keras.optimizers import Adam
from keras.layers import Dense, Flatten

#increase later
embedding_dim = 100

custom_learning_rate = 0.005

custom_optimizer = Adam(learning_rate = custom_learning_rate)

#switch to lstm?
model = Sequential()
model.add(Embedding(input_dim=pruned_vocab_size, output_dim=embedding_dim, input_length=max_seq_length))
model.add(Flatten())

#model.add(LSTM(128, dropout=0.2, return_sequences = True, recurrent_dropout=0, kernel_regularizer=l2(0.01)))
#model.add(LSTM(64, dropout=0.2, return_sequences = True, recurrent_dropout=0, kernel_regularizer=l2(0.01)))
#model.add(LSTM(32, dropout=0.2, recurrent_dropout=0, kernel_regularizer=l2(0.01)))

model.add(Dense(128, activation='relu'))  # You can adjust the number of units
model.add(Dense(64, activation='relu'))   # You can adjust the number of units
model.add(Dense(32, activation='relu'))   # You can adjust the number of units

model.add(Dense(3, activation='softmax'))

#use sentiment scores?
model.compile(loss='categorical_crossentropy', optimizer=custom_optimizer, metrics=['accuracy'])

num_epochs = 10
batch_size = 32 
history = model.fit(X_train_padded, y_train_encoded, validation_data=(X_val_padded, y_val_encoded), epochs=num_epochs, batch_size=batch_size)

test_loss, test_accuracy = model.evaluate(X_test_padded, y_test_encoded)
print(f"Test Accuracy: {test_accuracy}")

2024-01-17 22:02:02.799874: I tensorflow/compiler/xla/stream_executor/cuda/cuda_gpu_executor.cc:880] could not open file to read NUMA node: /sys/bus/pci/devices/0000:01:00.0/numa_node
Your kernel may have been built without NUMA support.
2024-01-17 22:02:02.799965: I tensorflow/compiler/xla/stream_executor/cuda/cuda_gpu_executor.cc:880] could not open file to read NUMA node: /sys/bus/pci/devices/0000:01:00.0/numa_node
Your kernel may have been built without NUMA support.
2024-01-17 22:02:02.799995: I tensorflow/compiler/xla/stream_executor/cuda/cuda_gpu_executor.cc:880] could not open file to read NUMA node: /sys/bus/pci/devices/0000:01:00.0/numa_node
Your kernel may have been built without NUMA support.
2024-01-17 22:02:03.163420: I tensorflow/compiler/xla/stream_executor/cuda/cuda_gpu_executor.cc:880] could not open file to read NUMA node: /sys/bus/pci/devices/0000:01:00.0/numa_node
Your kernel may have been built without NUMA support.
2024-01-17 22:02:03.163484: I tensorflow/compiler/xla/stream_executor/cuda/cuda_gpu_executor.cc:880] could not open file to read NUMA node: /sys/bus/pci/devices/0000:01:00.0/numa_node
Your kernel may have been built without NUMA support.
2024-01-17 22:02:03.163492: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1977] Could not identify NUMA node of platform GPU id 0, defaulting to 0.  Your kernel may not have been built with NUMA support.
2024-01-17 22:02:03.163529: I tensorflow/compiler/xla/stream_executor/cuda/cuda_gpu_executor.cc:880] could not open file to read NUMA node: /sys/bus/pci/devices/0000:01:00.0/numa_node
Your kernel may have been built without NUMA support.
2024-01-17 22:02:03.163546: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1886] Created device /job:localhost/replica:0/task:0/device:GPU:0 with 5578 MB memory:  -> device: 0, name: NVIDIA GeForce RTX 3070, pci bus id: 0000:01:00.0, compute capability: 8.6

Epoch 1/10

2024-01-17 22:02:04.935339: W tensorflow/tsl/framework/cpu_allocator_impl.cc:83] Allocation of 414120000 exceeds 10% of free system memory.
2024-01-17 22:02:06.233134: I tensorflow/compiler/xla/service/service.cc:168] XLA service 0x7f12721f1be0 initialized for platform CUDA (this does not guarantee that XLA will be used). Devices:
2024-01-17 22:02:06.233167: I tensorflow/compiler/xla/service/service.cc:176]   StreamExecutor device (0): NVIDIA GeForce RTX 3070, Compute Capability 8.6
2024-01-17 22:02:06.240866: I tensorflow/compiler/mlir/tensorflow/utils/dump_mlir_util.cc:269] disabling MLIR crash reproducer, set env var `MLIR_CRASH_REPRODUCER_DIRECTORY` to enable.
2024-01-17 22:02:06.262603: I tensorflow/compiler/xla/stream_executor/cuda/cuda_dnn.cc:442] Loaded cuDNN version 8600
2024-01-17 22:02:06.339312: I ./tensorflow/compiler/jit/device_compiler.h:186] Compiled cluster using XLA!  This line is logged at most once for the lifetime of the process.

6563/6563 [==============================] - ETA: 0s - loss: 0.5238 - accuracy: 0.7873

2024-01-17 22:04:07.602629: W tensorflow/tsl/framework/cpu_allocator_impl.cc:83] Allocation of 88740000 exceeds 10% of free system memory.

6563/6563 [==============================] - 128s 19ms/step - loss: 0.5238 - accuracy: 0.7873 - val_loss: 0.3938 - val_accuracy: 0.8539
Epoch 2/10
6563/6563 [==============================] - 62s 9ms/step - loss: 0.2397 - accuracy: 0.9168 - val_loss: 0.3483 - val_accuracy: 0.8818
Epoch 3/10
6563/6563 [==============================] - 59s 9ms/step - loss: 0.1319 - accuracy: 0.9598 - val_loss: 0.3782 - val_accuracy: 0.8982
Epoch 4/10
6563/6563 [==============================] - 57s 9ms/step - loss: 0.0869 - accuracy: 0.9761 - val_loss: 0.3861 - val_accuracy: 0.8999
Epoch 5/10
6563/6563 [==============================] - 57s 9ms/step - loss: 0.0603 - accuracy: 0.9831 - val_loss: 0.4262 - val_accuracy: 0.8915
Epoch 6/10
6563/6563 [==============================] - 56s 9ms/step - loss: 0.0551 - accuracy: 0.9857 - val_loss: 0.4328 - val_accuracy: 0.9005
Epoch 7/10
6563/6563 [==============================] - 57s 9ms/step - loss: 0.0512 - accuracy: 0.9888 - val_loss: 0.4938 - val_accuracy: 0.9057
Epoch 8/10
6563/6563 [==============================] - 56s 9ms/step - loss: 0.0390 - accuracy: 0.9915 - val_loss: 0.5429 - val_accuracy: 0.9067
Epoch 9/10
6563/6563 [==============================] - 57s 9ms/step - loss: 0.0328 - accuracy: 0.9926 - val_loss: 0.6571 - val_accuracy: 0.9002
Epoch 10/10
6563/6563 [==============================] - 57s 9ms/step - loss: 0.0304 - accuracy: 0.9934 - val_loss: 0.6405 - val_accuracy: 0.9054
  22/1407 [..............................] - ETA: 6s - loss: 0.6797 - accuracy: 0.8949

2024-01-17 22:12:52.180985: W tensorflow/tsl/framework/cpu_allocator_impl.cc:83] Allocation of 88740000 exceeds 10% of free system memory.

1407/1407 [==============================] - 7s 5ms/step - loss: 0.6421 - accuracy: 0.9044
Test Accuracy: 0.9044444561004639